<html>
	<head>
	<script src = "vue.js"></script>
	<style>
		.demo{
			width:0px;
			height:0px;
			background-color:gray;
			display: inline-block;
			margin: 10px;
		}
		
	</style>
	</head>

	<body>

			<div id="app">
				
				<p v-if="show">You can see me!</p>
				
				<p v-else>Now You can see me!</p>

				<p>Do you also see me?</p>
				<template v-if="show">
					<h5>This is also belongs to template section</h5>
					<p> Inside a template</p>
				</template>
				
				<p v-show="show"> This is based on v-show condition</p>
			
				<button @click="show = !show">Switch</button>
				
				
			</div>
	</body>

	<script>

		new Vue({
			el: '#app',
			data:{
				show:true
			}
		});
		
	</script>
</html>